header {
    width: 1152px; margin: 0 auto;
}
/* =========================================header top */
header .top{
    height: 48px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* lnb+mylab를 정렬하기 위한 flex 적용부모 */
}
header .top .lnb{
    /* 서울특별시 h1~응답소 a 자식을 정렬하기 위한 flex 적용 부모 */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .top .lnb h1{}
header .top .lnb h1 a{}
header .top .lnb h1 a img{}
header .top .lnb > a{letter-spacing: -0.02em; margin-left: 20px;}
header .top .my_lnb{
}
header .top .my_lnb a{
    margin-left: 20px;
}
header .top .my_lnb a:first-child{margin: 0;}
/* =========================================header bottom */
header .bottom {
    height: 119px;
    /* 로고 h1~언어 div 자식을 묶는 flex 적용부모 */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
header .bottom h1{}
header .bottom h1 a{}
header .bottom h1 a img{}
header .bottom #searchFrm{
    background-color: #fff;
    width: 369px; height: 46px;
    border:2px solid #1e6cb3; padding: 0 20px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
header .bottom #searchFrm input{}
header .bottom #searchFrm input[name*=search]{}
header .bottom #searchFrm input::placeholder{ color: #1e6cb3;}
header .bottom #searchFrm .search_btn{}
header .bottom #searchFrm .search_btn img{}
header .bottom .lang{display: flex; justify-content: center;}
header .bottom .lang select[name*=lang] {
    border: 1px solid #1e6cb3;
    width: 93px; height: 29px;
    padding: 5px 10px; letter-spacing: -0.02em;
    font-size: 0.8125rem;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang button{
    background-color: #1e6cb3; color: #fff;
    width: 30px; height: 29px;
    margin-left: 2px;
}
/* =========================================main */
main{} /* width: 1152px; margin: 0 auto; */
/* =========================================main 1. 상단 이벤트+공지사항 배너*/
main .visual_container{
    width: 1152px; margin: 0 auto;
    /* 좌(거리두기) 우(현황,교통) 자식정렬 부모 flex 대상 */
    display: flex; flex-flow:row nowrap;
    justify-content: space-between;
}
/* left */
main .visual_container .corona_notice{position: relative;}
main .visual_container .corona_notice img{}
main .visual_container .corona_notice .close{
    background-color: #1e6cb3; color: #fff;
    display: flex;
    position:absolute; right: 10px; bottom: 10px;
    display: block; padding: 10px;
    text-align: center;
    border-radius: 5px;
}
/* right */
main .visual_container .right_container{
    width: 360px;
}
main .visual_container .right_container .corona{position: relative}
main .visual_container .right_container .corona img{}
main .visual_container .right_container .corona span{
    display: block;
    text-align: center;
    color: #fff;
}
main .visual_container .right_container .corona .date{
    position: absolute; top: 11px; right: 20px;
} /* date임 */
main .visual_container .right_container .corona .data{}
main .visual_container .right_container .corona .data1{
    width: 140px;
    position: absolute; top: 82px; left: 30px;
}
main .visual_container .right_container .corona .data2{
    width: 140px;
    position: absolute; top: 82px; right: 30px;
}
main .visual_container .right_container .corona .data3{
    width: 94px;
    position: absolute; bottom: 56px; left: 31px;
}
main .visual_container .right_container .corona .data4{width: 94px; position: absolute; bottom: 56px; right: 120px;}
main .visual_container .right_container .corona .data5{width: 59px; position: absolute; bottom: 56px; right: 31px;}
main .visual_container .right_container .traffic{margin-top: 10px;}
main .visual_container .right_container .traffic a{}
main .visual_container .right_container .traffic a img{}
/* =========================================main 2 ~ 5 제목 공통 디자인 */
main > * {width: 1152px; margin: 50px auto 0;}
main > * .title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display:flex; flex-flow: row nowrap; 
    justify-content: space-between; 
}
main > * .title h1 {font-size: 1.44rem; font-weight: 500; letter-spacing: -0.02em; padding-top: 7px;}
main > * .title > .more_view {
    padding: 10px; border: 1px solid #aaa; letter-spacing: -0.02em; 
}
/* =========================================main 2. 주요서비스 */
main .service_container{
    
}
main .service_container .title{
}
main .service_container .title h1{
}
main .service_container .title .more_view{}
main .service_container .content{
    display: flex; 
    flex-flow: row nowrap;
}
main .service_container .content a{ 
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    flex: 1; padding: 20px 0;

}
main .service_container .content a span{
    width: 60px; height: 60px; margin-bottom: 15px;
    background-image: url(../images/service.png);
}
main .service_container .content a em{
    font-size: 0.81rem; letter-spacing: -0.02em;
}
main .service_container .content a:nth-child(1) span{
}
main .service_container .content a:nth-child(2) span{background-position-x:-60px}
main .service_container .content a:nth-child(3) span{background-position-x:-120px}
main .service_container .content a:nth-child(4) span{background-position-x:-180px}
main .service_container .content a:nth-child(5) span{background-position-x:-240px}
main .service_container .content a:nth-child(6) span{background-position-x:-300px}
main .service_container .content a:nth-child(7) span{background-position-x:-360px}
main .service_container .content a:nth-child(8) span{background-position-x:-420px}
main .service_container .content a:nth-child(9) span{background-position-x:-480px}
main .service_container .content a:nth-child(10) span{background-position-x:-540px}
main .service_container .content a:nth-child(11) span{background-position-x:-600px}
main .corona_container {width: 100%; background-color: #EFF4F8;}
main .corona_container .contents {
    width: 1152px; margin: 0 auto;
    display: flex;
    padding: 50px 0;
    
}
main .corona_container .contents a {flex: 1; margin-right: 22px;}
main .corona_container .contents a img {width: 100%;}
/* =========================================main 3. ★★신청+축제+서비스★★*/
main .event_container {display: flex; ; flex-flow: row nowrap;}
main .event_container .contents {width: calc(100% / 3);}
main .event_container .contents .title {}
main .event_container .contents .title h1 {padding-top: 0px}
main .event_container .contents .title .more {}
main .event_container .contents .title .more img {}
main .event_container .contents .list {margin-top: 15px;} 
main .event_container .contents .list li:last-child {margin: 0;}
main .event_container .contents .list li {
    display: flex;
    flex-flow:row nowrap;
    margin-bottom: 25px;
}
main .event_container .contents .list li .category {
    width: 40px;
}
main .event_container .contents .list li a {
    width: calc(100% - 40px);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
/* =========================================main 3. 카테고리별 색상 */
main .event_container .contents .list li .admin {color: #028AB6;} /* 행정 */
main .event_container .contents .list li .environment {color: #599100} /* 환경 */
main .event_container .contents .list li .welfare {color: #D76000;} /* 복지 */
main .event_container .contents .list li .housing {color: #C35C3C;} /* 주택 */
main .event_container .contents .list li .culture {color: #9B64D3;} /* 문화 */
main .event_container .contents .list li .economy {color: #069363;} /* 경제 */
/* =========================================main 3. 이벤트신청 */
main .event_container .event_apply { margin-right: 22px;}
main .event_container .event_apply .title {}
main .event_container .event_apply .title h1 {}
main .event_container .event_apply .title a {}
main .event_container .event_apply .title a img {}
main .event_container .event_apply .list {}
main .event_container .event_apply .list li {}

/* =========================================main 3-2, 이달행사축제 */
main .event_container .month_event {margin-right: 22px;}
main .event_container .month_event .title {}
main .event_container .month_event .title h1 {}
main .event_container .month_event .title a {}
main .event_container .month_event .title a img {}
main .event_container .month_event .list {}
main .event_container .month_event .list li {}
/* =========================================main 3-3, 자주찾은서비스 */
main .event_container .service_visit{
}
main .event_container .service_visit .title{}
main .event_container .service_visit .title h1{}
main .event_container .service_visit .title h1 a{}
main .event_container .service_visit .title h1 a img{}
main .event_container .service_visit .list {
    background-color: #eff4f8;
    flex-flow: row wrap;
    display: flex;
    margin-top: 13px;
    padding: 13px; 
}
main .event_container .service_visit .list li:last-child,
main .event_container .service_visit .list li:nth-child(9){margin: 0;}
main .event_container .service_visit .list li{
    width: calc(100% / 2); 
    margin-bottom: 25px;
}
main .event_container .service_visit .list li a{}
/* =========================================main 4, 분야정보 */
main .info_container {}
main .info_container .contents {
    display: flex;
    flex-flow: row nowrap;;
    justify-content: space-around;
    padding: 20px 0;
}
main .info_container .contents a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
}
main .info_container .contents a span {
    background-color: #fff;
    width: 104px; height: 111px;
    background-image: url(../images/category_info.png);
    letter-spacing: -0.02em;
}
main .info_container .contents a:nth-child(1) span {}
main .info_container .contents a:nth-child(2) span {background-position-x: -104px}
main .info_container .contents a:nth-child(3) span {background-position-x: -208px}
main .info_container .contents a:nth-child(4) span {background-position-x: -312px}
main .info_container .contents a:nth-child(5) span {background-position-x: -416px}
main .info_container .contents a:nth-child(6) span {background-position-x: -520px}
main .info_container .contents a:nth-child(7) span {background-position-x: -624px}
main .info_container .contents a:nth-child(8) span {background-position-x: -728px}
main .info_container .contents a span em {letter-spacing: -0.02em;}
/* =========================================main 5, 새소식 */
/* calc((100% - 총여백) / 한 줄에 들어오는 열 개수) */
main .new_container {padding-bottom: 50px;}
main .new_container .title{}
main .new_container .title h1{}
main .new_container .title h1 .more_view{}
main .new_container .contents{
    /* width: calc((100% ) / 4);
    display: flex; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 44px;
}
main .new_container .contents li:nth-child(4),
main .new_container .contents li:nth-child(8){margin: ;}
main .new_container .contents li{
    margin-bottom: 30px;
    width: calc((100% - 39px) / 4);
}
main .new_container .contents li a{}
main .new_container .contents li a img{width: 100%;}
main .new_container .contents li a span{margin:10px; line-height: 1.5;}
/* =========================================footer */
footer {
    width: 1152px; margin: 0 auto;
}
footer .top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border: 1px solid #CCCCCC;
    border-left: 0;
    border-right: 0;
}
footer .top .menu{
    display: flex;
} 
footer .top .menu a:last-child::after{display: none; margin: 0;}
footer .top .menu a::after{
    content: ""; 
    display: inline-block;
    background-color: #000; 
    width: 1px;
    height: 10px;
    margin: 0 10px; position: relative; top: -1px;
}

}
footer .top .menu a{
    background-color: red;
    letter-spacing: -0.02em;
}
footer .top .sns{
    display: flex;
}
footer .top .sns a:last-child{margin: 0;}
footer .top .sns a:hover {background-position-y:-25px;}
footer .top .sns a:nth-child(2){background-position-x:-25px;}
footer .top .sns a:nth-child(3){background-position-x:-50px;}
footer .top .sns a:nth-child(4){background-position-x:-75px;}
footer .top .sns a:nth-child(5){background-position-x:-100px;}
footer .top .sns a:last-child{background-position-x:-125px;}
footer .top .sns a{
    margin: 0 10px 0 0;
    width: 25px; height: 25px;
    background-image: url(../images/sns_sprite.png);
}
footer .top .sns a span{
    display: none;
}
footer .bottom{ 
    padding: 30px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
footer .bottom address {
    line-height: 1.8;
}
footer .bottom address a{}
footer .bottom .mark{
    align-content: center;
}
footer .bottom .mark a{ 
}
footer .bottom .mark a img {}